@{
    Layout = "_MioLayout";
}

@model List<Pizza>



@if (Model.Count() == 0)
{
    <h3>Non ci sono articoli da mostrare</h3>
}
else{


    <div class="title"> <h1 class="text-center mt-2 mb-4">WELCOME TO KAWAII PIZZA ADMIN PAGE</h1></div>
   
    <main>

        @if (User.IsInRole("ADMIN"))
        {
            <div class=" text-center mt-4 mb-4 W">
                <a class=" btn btn-success " href="@Url.Action("Create", "Pizza")">Create new Pizza</a>
            </div>
        }
      

      
           <div class="container mt-4 mb-4  ">
            <div class="row mt-2 mb-2">
                <div class="col-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id.</th>
                                <th scope="col">Photo</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Ingredients</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>

                                @if (User.IsInRole("ADMIN"))
                                {
                                    <th scope="col">Actions</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Pizza pizza in Model)
                            {
                                <tr>
                                    <th scope="row">@pizza.Id</th>
                                    <td><img src="@pizza.Image" alt= "image not found" /></td>
                                    <td> @pizza.Name</td>
                                    <td> @pizza.Description</td>
                                    <td>
                                        @if (pizza.Ingredients?.Count > 0)
                                        {
                                            @string.Join(", ", pizza.Ingredients.Select(i => i.Name))
                                        }
                                        else
                                        {
                                            <span>No ingredients</span>
                                        }
                                    </td>

                                    <td>@pizza.Category?.Name</td>
                                    <td>@pizza.Price yen</td>

                                    @if (User.IsInRole("ADMIN"))
                                    {
                                        <td>
                                            <a class="btn btn-warning mt-2" href="@Url.Action("Update", "Pizza", new { id = pizza.Id})">Update</a>
                                            <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="btn btn-danger mt-2">Delete</button>
                                            </form>
                                        </td>
                                    }








                                  
                                </tr>
                            }
                        
                        </tbody>

                    </table>

                </div>
            </div>
        </div>

    </main>




}