@{
    Layout = "_MioLayout";
}

@model List<Pizza>

<main>
    <div class="title mt-4"><h1 class="text-center  mt-2 mb-4">WELCOME TO KAWAII PIZZA </h1></div>
    

    <div class="container-fluid mainpage mt-4 ">

        <div class="mainpage mt-4 mb-4 text-center"> <img class="mainimg" src="\img\kawaiii.jpg" /></div>

    </div>

    <div class="title mb-4"><h1 class="text-center mt-2 mb-4">OUR BEST PIZZAS:</h1></div>
  

    @section Button{
        <div class="btn_container">

            <button class="btn btn-danger " onclick="showPopup()">ORDER A PIZZA!!!</button>

        </div>


        <script>
            function showPopup() {
                const popup = window.open("", "Popup", "width=1920,height=1080");

                const img = document.createElement("img");
                img.src = "https://www.bing.com/images/blob?bcid=RDBcFF-QQCIGqxcxoNWLuD9SqbotqVTdP6k";
                img.style.width = "800px";
                img.style.height = "600px";
                img.style.position = "absolute";
                img.style.top = "50%";
                img.style.left = "50%";
                img.style.transform = "translate(-50%, -50%)";

                popup.document.body.appendChild(img);
            }


        </script>

    }

    <div class="container">
        <div class="row">
            @foreach (Pizza pizza in Model)
            {
                <div class="col-sm-4">
                    <div class="card mb-4">
                        <img src="@pizza.Image" alt="Pizza1" />
                        <div class="container text-center mt-4">

                            <h3> <strong>@pizza.Name</strong></h3>
                            <p> <strong>@pizza.Description</strong>n</p>
                            <p> <strong>@pizza.Price yen</strong></p>
                            <a class="btn btn-danger" href="@Url.Action("Details", "Pizza", new { id = pizza.Id })" title="pizza details">DETAILS
                            </a>

                        </div>
                    </div>
                </div>
            }
            
    </div>



</main>
